<div class="app-card-container">
  <div class="card">
    <h1>About Me</h1>

    <hr>

    <div class="row">
      <div class="col-md-4">
        <%= image_tag 'wolf.jpg', width: 200, alt: 'profile image', class: 'profile-img' %>
      </div>
      <div class="col-md-8">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
          est laborum.
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Arcu risus quis varius quam quisque id diam vel quam. In eu mi bibendum neque egestas. Sagittis
          vitae et leo duis ut diam quam nulla. Auctor augue mauris augue neque gravida in fermentum et. Pellentesque
          sit amet porttitor eget dolor morbi non arcu risus. Tristique senectus et netus et malesuada. Rhoncus dolor
          purus non enim praesent elementum facilisis. Varius morbi enim nunc faucibus a pellentesque. Interdum velit
          euismod in pellentesque massa placerat duis ultricies lacus. Vulputate odio ut enim blandit volutpat maecenas
          volutpat blandit aliquam. Placerat vestibulum lectus mauris ultrices eros in cursus. At imperdiet dui accumsan
          sit amet nulla facilisi morbi. Arcu risus quis varius quam quisque id diam vel. Ultricies lacus sed turpis
          tincidunt id aliquet risus. Integer feugiat scelerisque varius morbi enim nunc faucibus. Bibendum neque
          egestas congue quisque egestas diam in arcu cursus. Eu augue ut lectus arcu bibendum at varius. Mauris
          ultrices eros in cursus turpis massa tincidunt. Eget arcu dictum varius duis.
        </p>
      </div>
    </div>
  </div>
</div>